<div class="jumbotron">
  <div *ngIf="linha">
    <h2 class="">{{ linha.nome.split('/').join('/ ') | uppercase }}</h2>
    <p class="text-right"><button class="btn btn-link small" (click)="voltar()">Voltar</button></p>
    <h6 class="mb-2 lead">Detalhes</h6>
    <p><span class="font-weight-bold">Id: </span>{{ linha.idlinha }}</p>
    <p><span class="font-weight-bold">Código: </span>{{ linha.codigo }}</p>


    <hr>
    <h6 class="mb-2 lead">Itinerário <span class="small">(clique para ver a localização)</span></h6>
    <ul class="list-group list-group-flush">
      <li *ngFor="let localizacao of localizacao | paginate: { itemsPerPage: 50, currentPage: p }" 
        class="list-group-item">
        <a 
        href="https://www.google.com/maps/?q={{ localizacao.lat }},{{ localizacao.lng }}"
        class="d-block"
        >
          <span class="badge">lat: {{ localizacao.lat }}</span>
          <span class="badge">lng: {{ localizacao.lng }}</span>
        </a>
      </li>
    </ul>

    <pagination-controls 
      (pageChange)="p = $event"
      previousLabel=""
      nextLabel=""
      screenReaderPaginationLabel="Paginação"
      screenReaderPageLabel="página"
      screenReaderCurrentLabel="Você está na página">
    </pagination-controls>

    <hr>
  </div>
</div>