* {
  /* border: 1px solid red; */
}

body {
  background: url(http://www.datapoa.com.br/img/fundo.png);
}

.nav {
  align-items: center;
  border-top: 5px solid #622560;
  background-color: #fafafa;
}

.nav img {
  height: 60px;
  padding: 3px;
  width: 60px;
}

.nav a {
  align-items: center;
  color: #622560;
  display: flex;
  padding: 5px;
  text-decoration: none;
}

.nav a:hover {
  background: #cccccc;
}

.nav a h1 {
  margin: 0;
  font-weight: bold;
}