<div class="jumbotron">
  <h2>Linhas - {{ tipoLinha }}</h2>

  <ul class="list-group">
    <li *ngFor="let linha of linhas | paginate: { itemsPerPage: 50, currentPage: p }" class="list-group-item">
      <a routerLink="/detalhes/{{ linha.id }}">
          {{ linha.nome.split('/').join('/ ') }}
      </a> 
    </li>
  </ul>

	<pagination-controls 
    (pageChange)="p = $event"
    previousLabel=""
    nextLabel=""
    screenReaderPaginationLabel="Paginação"
    screenReaderPageLabel="página"
    screenReaderCurrentLabel="Você está na página">
  </pagination-controls>


</div>