body {
  background-color: #f6f6f6;
  font-family: 'Open Sans';
  overflow-y: scroll;
} 

h1, h2 {
  margin: 0;
}

.container {
  background: url(src\assets\fundo.jpg);
  background-repeat: repeat;
  height: 70vh;
  min-width: min-content;
  min-height: fit-content;
  padding: 3vh 0;
  width: 70%;
}

.nav {
  align-items: center;
  background-color: #fafafa;
  border-top: 5px solid #622560;
}

.nav img {
  height: 60px;
  padding: 3px;
  width: 60px;
}

.nav a {
  align-items: center;
  color: #622560;
  display: flex;
  padding: 5px;
  text-decoration: none;
}

.nav a:hover {
  background: #cccccc;
}

.nav a h1 {
  margin: 0;
  font-weight: bold;
}

.jumbotron {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 0 auto;
  min-width: min-content;
  min-height: fit-content;
  width: 80%;
}

.jumbotron h2 {
  color: #622560;
  font-family: inherit;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 5vh;
  text-align: center;
  width: 80%;
}

pagination-template .ngx-pagination {
  margin-left: -10%;
}

.ngx-pagination a, 
.ngx-pagination span,
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-next a::after {
  color: #622560;
}

.ngx-pagination .pagination-previous.disabled::before,
.ngx-pagination .pagination-next.disabled::after {
  color: #ccc;
}

.form-busca {
  display: flex;
  height:60px;
  justify-content: center;
  margin-bottom: 2vh;
  padding:5px;
  width:100%;
}

.div-busca {
  align-items: center;
  border: 1px solid #622560a3;
  border-radius: 18px;
  display: flex;
  height: 36px;
  position: relative;
  width: 50%;
}

.icone-buscar {
  cursor: pointer;
  right: 5%;
  position: absolute;
}

.input-buscar {
  width:90%;
  text-align: left;
  padding-left: 10px;
  border-radius: 15px;
  border:none;
  outline: none;
  position:absolute;
  bottom: 4px;
  left: 3px;
}

input[type=text] {
  background: #e9ecef;
  color: #622560;
  font-weight: 900;
}

input::placeholder, .material-icons.padrao {
  color: #622560a3;
}